<div class="container mt-3">
    <link rel="stylesheet" href="/css/signup.css">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="form-wrapper" style="width: 100%; max-width: 20em;">
                <h2 class="text-center">Sign up</h2>
                <form id="signup-form" method="POST" action="/signup">
                    <div class="form-group">
                        <input type="text" class="form-control" id="new-username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="new-password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="new-password-2" name="password2" placeholder="Repeat Password">
                        <div id="password-error" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign up</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  document.getElementById('signup-form').addEventListener('submit', function(event) {
    const password1 = document.getElementById('new-password').value;
    const password2 = document.getElementById('new-password-2').value;
    const errorDiv = document.getElementById('password-error');
    
    if (password1 !== password2) {
      event.preventDefault();
      errorDiv.textContent = "Passwords do not match.";
    } else {
      errorDiv.textContent = "";
    }
  });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

