<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/support.css">
</head>

<body>
    <div class="container">
        <h1>Contact Customer Support</h1><br>
        <div class="dropdown">
        </div>
        <p>If you need assistance, please contact our customer support team at support@ifly.com.</p>

        <h2>Get in Touch</h2>
        <form id="contact-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="creator-info-box">
                    <p>Georgios Arachovitis</p>
                    <a href="https://www.linkedin.com/in/georgios-arachovitis/" target="_blank">
                        <img src="/img/linkedin-icon.webp" alt="LinkedIn" class="icon-small">
                    </a>
                    <a href="https://github.com/garachovitis" target="_blank">
                        <img src="/img/github-icon.png" alt="GitHub" class="icon-small">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="creator-info-box">
                    <p>Spyros Malfas</p>
                    <a href="https://www.linkedin.com/in/spyros-malfas-5654b0218/" target="_blank">
                        <img src="/img/linkedin-icon.webp" alt="LinkedIn" class="icon-small">
                    </a>
                    <a href="https://github.com/spyretos09" target="_blank">
                        <img src="/img/github-icon.png" alt="GitHub" class="icon-small">
                    </a>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>iFly - by Team13 &copy; 2024</p>
                </div>
            </div>
        </div>
    </footer>