body {
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin: auto;
    padding-top: 20px;
    
}

.card {
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 80px;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.add-flight-btn {
    border-radius: 30px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 16px;
}

.delete-btn {
    color: white;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }

    .add-flight-btn, .delete-btn {
        font-size: 14px;
    }
}
