body {
    font-family: sans-serif;
}

.container {
    padding-top: 20px;
}

.card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 80px;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.add-flight-btn {
    border-radius: 30px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 16px;
}

.delete-btn {
    color: white;
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 50%;
}

.d-flex {
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .add-flight-btn, .delete-btn {
        font-size: 14px;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .flight-info {
        flex: 1 1 100%;
    }

    .delete-btn {
        align-self: flex-end;
        margin-top: 10px;
    }
}
