/* General Page Styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.search-form {
    margin: 0 auto;
    border: 2px solid #ccc; 
    padding: 20px;
    border-radius: 10px; 
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.btn-outline-secondary {
    border-radius: 2px;
    border: none;
    background: transparent;
}

#reverseButton img {
    width: 24px; /* Smaller icon for better fit */
    cursor: pointer;
}

/* Search Form Styling */


.form-control {
    border-radius: 20px;
}



/* Adjustments for Date Pickers */
input[type="date"] {
    width: 100%;
}

/* Styling for Button */
.btn-primary {
    width: 80%;
    border-radius: 20px;
    padding: 10px;
}
.list-group-item h5 {
    color: #007bff;
}

.list-group-item p {
    color: #356894;
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Auth and Profile Image Styling */
.auth-container {
    position: absolute;
    top: 20px;
    right: 10px;
}