h1 {
    text-align: center;
    margin-bottom: 20px;
}

.rounded-search-form {
    max-width: 500px;
    border: 1px solid #ddd;
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-group-text {
    max-width: 500px;

    background-color: #f8f9fa; 
    border: none;
}

.form-control {
    border-radius: 0.25rem;
}

.swap-button {
    width: 50px;  /* Make the button round and centered */
    height: 50px; 
}

.btn-primary {
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 576px) {
    .rounded-search-form {
        margin: 0 15px;
    }
}
