body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-item {
    cursor: pointer;
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.search-form {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;

justify-content: center;
    align-items: center;
}

.search-form .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-form .rounded {
    border-radius: 5px !important;
}

.search-form .swap-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form .rounded-pill {
    font-size: 18px !important;
    width: 40%;
    border-radius: 20px !important;
}

.carousel-inner img {
    border-radius: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .search-form .row .col-md-5 {
        margin-bottom: 10px;
    }

    .search-form .row .col-md-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .search-form .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-form .row .col-md-5,
    .search-form .row .col-md-1 {
        width: 100%;
        max-width: 400px;
    }
}

@media (min-width: 769px) {
    .search-form .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
