.next-step-container {
    margin-right: 0;
}

#nextStepButton {
    font-size: 19px;    
    border-radius: 20px;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #cac4c4de;
}

.airline-logo {
    max-width: 80px;
    height: auto;
}

.btn-prim {
    background-color: #007bff;
    color: white;
    position: relative;
    left: 90%;
    bottom: 10px;
    border-radius: 20px;
}

.flight-card {
    border: 0.1px solid var(--secondary-color);
    box-shadow: 10px 10px 10px rgba(133, 130, 130, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.flight-card:hover {
    transform: scale(1.03);
}

.flight-card .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .next-step-container {
        margin-top: 10px;
        text-align: right;
    }
}
